#red {
    /* this selects any elements with the red id */
    /* border-top-color: #f00; */
    border-top: 20px solid #f00;
}
#orange {
    border-top: 20px solid #ffa500;
}
#yellow {
    border-top: 20px solid #ff0;
}
#green {
    border-top: 20px solid #00bc3f;
}
#blue {
    border-top: 20px solid #06f;
}
#indigo {
    border-top: 20px solid #8a2be2;
}
#violet {
    border-top: 20px solid #d300c9;
}